<%= form_with(model: person, local: true) do |form| %>
  <% if person.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(person.errors.count, "error") %> prohibited this person from being saved:</h2>

      <ul>
      <% person.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :nome %>
    <%= form.text_field :nome %>
  </div>

  <div class="field">
    <%= form.label :email %>
    <%= form.text_field :email %>
  </div>

  <div class="field">
    <%= form.label :titulacao %>
    <%= form.text_field :titulacao %>
  </div>

  <div class="field">
    <%= form.label :lattes %>
    <%= form.text_field :lattes %>
  </div>

  <div class="field">
    <%= form.label :funcao %>
    <%= form.text_field :funcao %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
