
<div class="container ">
    <div class="row">
      <% if user_signed_in?%>
        <%= link_to 'Cadastrar novo membro', new_person_path, class: "btn btn-primary" %>
      <% end %>
      </div>
    <br>
      <div class="row">
          <% @people.each do |person| %>
              <div class="col col-md-6 center">
                  <%# <img src="gpds_logo_oficial.png" alt="..." class="rounded-circle"> %>
                  <%= image_tag("membros/#{person.imagem}", :alt => "rss feed",  width: "120px", height: "120px", class: "rounded-circle") %> <br>
                  <td><%= person.funcao %></td><br>
                  <%= person.nome %><br>
                  <%= person.titulacao %> <br>
                  <td><%= person.lattes %></td><br>
                  <%= link_to 'Show', person %><br>
                  <% if user_signed_in?%>
                    <%= link_to 'Edit', edit_person_path(person) %><br>
                    <%= link_to 'Destroy', person, method: :delete, data: { confirm: 'Are you sure?' } %><br>
                  <% end %>
              </div>
          <% end %>
      </div>
  </div>
<br>
</div>
