<html>
<head>
	<meta charset="UTF-8">
	<title>GPDS</title>
</head>
<body>
	<%= render partial: "/layouts/menu" %>

<p id="notice"><%= notice %></p>

<h1>People</h1>

<table>
  <thead>
    <tr>
      <th>Nome</th>
      <th>Email</th>
      <th>Titulacao</th>
      <th>Lattes</th>
      <th>Funcao</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @people.each do |person| %>
      <tr>
        <td><%= person.nome %></td>
        <td><%= person.email %></td>
        <td><%= person.titulacao %></td>
        <td><%= person.lattes %></td>
        <td><%= person.funcao %></td>
        <td><%= link_to 'Show', person %></td>
        <td><%= link_to 'Edit', edit_person_path(person) %></td>
        <td><%= link_to 'Destroy', person, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Person', new_person_path %>

</body>
</html>