<div class="container ">
<p id="notice"><%= notice %></p>

<p>
  <strong>Nome:</strong>
  <%= @person.nome %>
</p>

<p>
  <strong>Email:</strong>
  <%= @person.email %>
</p>

<p>
  <strong>Titulacao:</strong>
  <%= @person.titulacao %>
</p>

<p>
  <strong>Lattes:</strong>
  <%= @person.lattes %>
</p>

<p>
  <strong>Funcao:</strong>
  <%= @person.funcao %>
</p>

</div>