
<%= render partial: "/layouts/menu" %>

<p id="notice"><%= notice %></p>
<div class="container">
<%= link_to 'New Project', new_project_path %>

<table>
  <thead>
    <tr>
      <th>Titulo</th>
      <th>Descricao</th>
      <th>Edital</th>
      <th>Datainicio</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @projects.each do |project| %>
      <tr>
        <td><%= project.titulo %></td>
        <td><%= project.descricao %></td>
        <td><%= project.edital %></td>
        <td><%= project.datainicio %></td>
        <td><%= link_to 'Show', project %></td>
        <td><%= link_to 'Edit', edit_project_path(project) %></td>
        <td><%= link_to 'Destroy', project, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

</div>
