
<div class="container">


<p>
  <strong>Titulo:</strong>
  <%= @project.titulo %>
</p>

<p>
  <strong>Descricao:</strong>
  <%= @project.descricao %>
</p>

<p>
  <strong>Edital:</strong>
  <%= @project.edital %>
</p>

<p>
  <strong>Datainicio:</strong>
  <%= @project.datainicio %>
</p>

<p>
  <strong>Menbros:</strong><br>
  <% @project.people.each do |p| %>
    <%= p.nome %><br>
  <% end %>
</p>


<% if user_signed_in?%>

  <%= form_tag project_path(@project), :method => 'get' do %>
      <%= select(nil, "person_id",   Person.all.collect {|p| [p.nome, p.id ] }) %>
      <br><br>
      <%= submit_tag "Adicionar membro" , :name => nil %>
  <% end %>
<% end %>

<%= link_to 'Editar', edit_project_path(@project) %> |
<%= link_to 'Voltar', projects_path %>
</div>