<html>
<head>
	<meta charset="UTF-8">
	<title>GPDS</title>
</head>
<body>
	<%= render partial: "/layouts/menu" %>

<%= form_with(model: book, local: true) do |form| %>
  <% if book.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(book.errors.count, "error") %> prohibited this book from being saved:</h2>

      <ul>
      <% book.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :titulo %>
    <%= form.text_field :titulo %>
  </div>

  <div class="field">
    <%= form.label :resumo %>
    <%= form.text_field :resumo %>
  </div>

  <div class="field">
    <%= form.label :paginas %>
    <%= form.text_field :paginas %>
  </div>

  <div class="field">
      <%= form.label :tipo %>
      <%= form.select :tipo, ['Artigo Completo', 'Artigo curto', 'Resumo', 'Poster', 'Livro', 'Capitulo de livro', 'Trabalho publicado em anais de evento'] %>
  </div>

  <div class="field">
    <%= form.label :idioma %>
    <%= form.select :idioma, ['Português', 'Inglês', 'Espanhol', 'Francês', 'Alemão'] %>
  </div>
  
  
    <div class="field">
      <%= form.label :event %>
      <%= form.select(:event_id, @events.collect {|s| [s.nome,s.id]}, id: :event_id) %>
    </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
</body>
</html>
