<script type="application/ld+json">
{
  "@context": "http://schema.org",
        "@id": "#issue",
        "@type": "PublicationIssue",
        "name":"<%= @book.titulo %>",
        "datePublished": "<%= @book.event.data %>",
        "isPartOf": {
            "@id": "#periodical",
            "@type": [
                "PublicationVolume",
                "Periodical"
            ],
            "pagination": "<%= @book.paginas %>",
            "publisher": "<%= @book.event.nome %>"
        },
        "author": [
          <% @book.people.each do |p| %>
              {
                  "@type":"Person",
                  "name" : "<%= p.nome %>"
              },
          <% end %>
        ]
}
</script>

<div class="container">
<p id="notice"><%= notice %></p>

<p>
  <strong>Titulo:</strong>
  <%= @book.titulo %>
</p>

<p>
  <strong>Resumo:</strong>
  <%= @book.resumo %>
</p>

<p>
  <strong>Paginas:</strong>
  <%= @book.paginas %>
</p>

<p>
  <strong>Tipo:</strong>
  <%= @book.tipo %>
</p>

<p>
  <strong>Idioma:</strong>
  <%= @book.idioma %>
</p>


<p>
  <strong>Autores:</strong><br>
  <% @book.people.each do |p| %>
    <%= p.nome %><br>
  <% end %>
</p>
<%= link_to 'Voltar', books_path %>

<% if user_signed_in?%>

  <%= form_tag book_path(@book), :method => 'get' do %>
      <%= select(nil, "person_id",   Person.all.collect {|p| [p.nome, p.id ] }) %>
      <br><br>
      <%= submit_tag "Adicionar autor" , :name => nil %>
  <% end %>
<% end %>

</div>