
<footer class="footer page-footer font-small indigo" id="footer">

    <div class="container">

<hr class="rgba-white-light" style="margin: 0 15%;">
 <div class="row text-center d-flex justify-content-center pt-5 mb-3">

        <!-- Grid column -->
        <div class="col-md-2 mb-3">
            <%= link_to "https://github.com/GPDS" , target: "_blank" do %>
                <%= image_tag("icones/github.png", :alt => "rss feed",  width: "70", height: "70") %>
            <% end %>
        </div>
        <!-- Grid column -->

        <!-- Grid column -->
        <div class="col-md-2 mb-3">
          <%= link_to "http://www.facebook.com" , target: "_blank" do %>
                <%= image_tag("icones/facebook.png", :alt => "rss feed",  width: "70", height: "70") %>
            <% end %>
        </div>
        <!-- Grid column -->

        <!-- Grid column -->
        <div class="col-md-2 mb-3">
          <%= link_to "http://www.facebook.com" , target: "_blank" do %>
                <%= image_tag("icones/linkedin.png", :alt => "rss feed",  width: "70", height: "70") %>
            <% end %>
        </div>
        <!-- Grid column -->

        <!-- Grid column -->
        <div class="col-md-2 mb-3">
          <%= link_to "http://www.facebook.com" , target: "_blank" do %>
                <%= image_tag("icones/gmais.png", :alt => "rss feed",  width: "70", height: "70") %>
            <% end %>
        </div>
        <!-- Grid column -->

        <!-- Grid column -->
        <div class="col-md-2 mb-3">
          <%= link_to "http://www.facebook.com" , target: "_blank" do %>
                <%= image_tag("icones/twiter.png", :alt => "rss feed",  width: "70", height: "70") %>
            <% end %>
        </div>
        <!-- Grid column -->

      </div>
      <!-- Grid row-->
      <hr class="rgba-white-light" style="margin: 0 15%;">



     <div class="row">

       <br>

      </div>
        <div class="row  pb-3">

            <!-- -->
            <div id="contato" class="col-md-6">
                <h5><strong><i class="fa fa-envelope-o"></i> CONTATO</strong></h5>
                <form>
                    <div class="form-group">
                        <!--<label for="exampleInputName2">Nome</label>-->
                        <input type="text" class="form-control" id="inputName" placeholder="Nome">
                    </div>
                    <div class="form-group">
                        <!--<label for="exampleInputEmail1">Email</label>-->
                        <input type="email" class="form-control" id="inputEmail" placeholder="Email">
                    </div>
                    <div class="form-group">
                        <!--<label for="exampleInputFile">Mensagem</label>-->
                        <textarea id="inputMessage" class="form-control" rows="6" placeholder="Digite sua mensagem..."></textarea>
                    </div>
                    <button type="submit" class="btn btn-default">Enviar</button>
                </form>
            </div>

            <!-- LOCALIZAÇÃO-->
            <div class="col-md-6">
                <h5><strong><i class="fa fa-map-o"></i> LOCALIZAÇÃO</strong></h5>
                <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3958.922922364335!2d-34.87585178549195!3d-7.134911894847946!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x7ace810852ae4f1%3A0xaf5445223401f2bb!2sInstituto+Federal+de+Educa%C3%A7%C3%A3o%2C+Ci%C3%AAncia+e+Tecnologia+da+Para%C3%ADba%2C+Campus+Jo%C3%A3o+Pessoa!5e0!3m2!1sen!2sbr!4v1458975259234" width="400" height="250" frameborder="0" style="border:0" allowfullscreen></iframe>
                <address>
                    <p class="text-justify">Av. Primeiro de Maio, 720. Jaguaribe, João Pessoa/PB. CEP: 58.015-430.<br>
                <span class="label label-danger">Referência</span> No primeiro andar do bloco do PET/EE, ao lado da sala do Mestrado em Engenharia Elétrica.</p>
                </address>
            </div>
        </div>


        <row>
        </row>
        <div class="row">
            <div class="col">
                <div class="footer-copyright text-center py-3">© 2018 Copyright:
                <a href=""> Grupo de Processamendo Digital de Sinais (GPDS).</a>
                </div>
            </div>
        </div>
    </div>

</footer>
