<!DOCTYPE html>
<html>
  <head>
    <title>GPDS</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "/app/assets/stylesheets/estilo.css" %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body class="page-responsive">
    <%= yield %>
  </body>
</html>
